<div class="task-detail" *ngIf="!loading && !errorMessage">
    <div class="task-info">
        <h2>Task Details</h2>
        <p><strong>ID:</strong> {{ task.id }}</p>
        <p><strong>Name:</strong> {{ task.name }}</p>
        <p><strong>Total Time:</strong> {{ task.time.total }} seconds</p>
        <p><strong>Today Time:</strong> {{ task.time.today }} seconds</p>
        <app-task-button-tracking [task]="task" (onTaskAction)="taskById(task.id)"></app-task-button-tracking>
    </div>

    <div class="task-tracking">
        <h3>Tracking Records</h3>
        <table>
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of task.tracking">
                    <td>{{ track.formattedStart }}</td>
                    <td>{{ track.formattedEnd }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>