<div class="task-list-minimal" *ngIf="!loading && !errorMessage">
  <table>
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks; let i = index" [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }">
        <td>{{ task.name }}</td>
        <td>
          <div class="task-actions">
            <button *ngIf="task.hasInProgress" class="close-task-button" (click)="closeTask(task.name)">
              Close
            </button>
            <button *ngIf="!task.hasInProgress" class="create-task-button" (click)="createTask(task.name)">
              Start
            </button>
            <button class="detail-button" routerLink="/task/detail/{{ task.id }}">
              Detail
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>